@model VentaTicketes.Models.TickersSale
@{
    ViewBag.Title = "Venta";
}

<h2>Comprar Boletos</h2>
@if (TempData["Mensaje"] != null)
{
    <section class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="close" date-dismiss="alert" arial-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </section>
}

<section class="container">
    <article class="row">
        <article class="col-md-4 offset-md-4">
            <section class="card col-md-12">
                <section class="offset-md-1">
                    @using (Html.BeginForm("ComprarBoleto", "Ventas", FormMethod.Post, new
                    {
                        @class = "form-group"
                    }))
                    {
                        <br />
                        @Html.LabelFor(m => m.idRuta)
                        @Html.DropDownListFor(m => m.idRuta, ViewBag.Rutas as List<SelectListItem>,
                                 " -- Seleccionar Ruta --", new
                                 {
                                     @class = "form-control",
                                     id = "Rutas"
                                 })
                        <br />
                        @Html.LabelFor(m => m.idLugarRuta)
                        @Html.DropDownListFor(m => m.idLugarRuta, new List<SelectListItem>(),
                                 " -- Seleccionar Lugar --", new
                                 {
                                     @class = "form-control",
                                     id = "Lugares"
                                 })
                        <br />
                        @Html.LabelFor(m => m.idHorario)
                        @Html.DropDownListFor(m => m.idHorario, new List<SelectListItem>(),
                                 " -- Seleccionar Horario --", new
                                 {
                                     @class = "form-control",
                                     id = "Horario"
                                 })
                        <br />
                        @Html.LabelFor(m => m.campo)
                        @Html.EditorFor(m => m.campo, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        @Html.LabelFor(m => m.fecha)
                        @Html.TextBoxFor(m => m.fecha, "{0:MM/dd/yyyy}", new { type = "date", @class = "form-control" })
                        <br />
                        <section class="">
                            <input type="submit" class="btn btn-block btn-primary" name="nam" value="Comprar boletos">
                        </section>
                    }

                </section>
            </section>
        </article>
    </article>
</section>





@section scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        $("#Rutas").change(function () {
            $("#Lugares").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ArticulosPorCategoria")',
                dataType: 'json',
                data: { id: $("#Rutas").val() },
                success: function (lugar) {
                    $.each(lugar, function (i, lugar) {
                        $("#Lugares").append('<option value="' + lugar.Value + '">' +
                            lugar.Text + '</option>');

                    });
                },
            })
        });
    });

    $(document).ready(function () {
        $("#Lugares").change(function () {
            $("#Horario").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Horarios")',
                dataType: 'json',
                data: { id: $("#Lugares").val() },
                success: function (horario) {
                    $.each(horario, function (i, horario) {
                        $("#Horario").append('<option value="' + horario.Value + '">' +
                            horario.Text + '</option>');

                    });
                },
            })
        });
    });
    </script>


}
